APP_NAME=ProductBase
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://product-base.loc

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=testos-db
DB_DATABASE=product_base
DB_USERNAME=postgres
DB_PASSWORD=secret

SESSION_DRIVER=file

QUEUE_CONNECTION=rabbitmq

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

AMQP_CONNECTION=rabbitmq
AMQP_HOST=rabbitmq
AMQP_PORT=5672
AMQP_USER=guest
AMQP_PASSWORD=guest
